@model Infraero.Relprev.CrossCutting.Models.UnidadeInfraestruturaModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "UnidadeInfraestrutura", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Unidade de Infraestrutura</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Sigla <span class="required">*</span></label>
                        <div class="col-lg-9">
                            @*<select class="form-control populate select2" name="ddlDependencia" id="ddlDependencia"
                                        title="Por favor selecione uma unidade de infraestrutura." required
                                        asp-for="CodDependencia" asp-items="Model.ListDependencia">
                                    <option value="">Selecionar Dependencia</option>
                                </select>*@
                            <div class="input-group mb-3">
                                <input type="text" id="sigla" name="sigla" class="form-control" placeholder="eg.: Sigla" maxlength="4"
                                       title="Por favor informe uma sigla para pesquisar os dados de endereço." required
                                       v-model="params.sigla">
                                <span class="input-group-btn">
                                    <button id="dependencia" v-on:click="GetUnidadeBySigla"
                                            class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;<i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Aeroporto</label>
                        <div class="col-sm-9">
                            <input type="text" id="aeroporto" name="aeroporto" class="form-control" readonly
                                   v-model="UnidadeInfraEstruturaDto.Dependencia.dep_sigla_nome"
                                   title="Aeroporto nao pesquisado a partir da sigla informada." required>
                            @*<input type="hidden" id="CodDependencia" name="CodDependencia" value="UnidadeInfraEstruturaDto.Dependencia.dep_codigo" />*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Endereço</label>
                        <div class="col-sm-9">
                            <input type="text" id="endereco" name="endereco" class="form-control" readonly
                                   v-model="UnidadeInfraEstruturaDto.Dependencia.dep_endereco_logradouro"
                                   title="Endereço nao pesquisado a partir da sigla informada." required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Complemento</label>
                        <div class="col-sm-3">
                            <input type="text" id="complemento" name="complemento" class="form-control"
                                   v-model="UnidadeInfraEstruturaDto.Dependencia.dep_endereco_complemento" readonly>
                        </div>
                        <label class="col-sm-3 control-label text-sm-right pt-2">Numero</label>
                        <div class="col-sm-3">
                            <input type="text" id="numero" name="numero" class="form-control"
                                   v-model="UnidadeInfraEstruturaDto.Dependencia.dep_numero_logradouro" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Descrição Unidade Infraestrutura<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3" id="Descricao" name="Descricao" class="form-control"
                                      placeholder="eg.: Descrição da Unidade de Infraestrutura  " maxlength="50"
                                      title="Por favor informe a descrição da Unidade de Infraestrutura." required></textarea>
                        </div>
                    </div>
                    <div class="form-group row" id="data-container">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Início de vigência</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="DtIniVigencia" name="DtIniVigencia"
                                       title="Por favor informe a data início de vigência." required
                                       data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                       placeholder="__/__/____" class="form-control">
                            </div>
                        </div>

                        <label class="col-lg-2 control-label text-lg-right pt-2">Fim de vigência</label>
                        <div class="col-lg-3 pull-left">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="DtFimVigencia" name="DtFimVigencia"
                                       title="Por favor informe a data fim de vigência." required
                                       data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                       placeholder="__/__/____" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "UnidadeInfraestrutura")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>

@section CssSpecificVendor {
    <link href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/unidade.js"></script>

}
