
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "Assunto", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Assunto da Ocorrência</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Assunto <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3" name="DscAssunto" class="form-control"
                                      title="Por favor informe a descrição do  assunto relacionado as  ocorrências " 
                                      placeholder="eg.: Descrição do  assunto relacionado as  ocorrências " 
                                      required maxlength="50"></textarea>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "Assunto")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
}
@section Scripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>

    <script>

            // Select2
            (function ($) {

                'use strict';

                jQuery.validator.addMethod("noSpace", function (value, element) {
                    return value == '' || value.trim().length != 0;
                }, "Sem espaço por favor e não o deixe vazio");

                // checkbox, radio and selects
                $("#form").each(function() {
                    $(this).validate({
                        rules: {
                            DscAssunto: {
                                noSpace: true
                            }
                        },
                        highlight: function(element) {
                            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                        },
                        success: function(element) {
                            $(element).closest('.form-group').removeClass('has-error');
                        },
                        errorPlacement: function (error, element) {
                            var placement = element.closest('.input-group');
                            if (!placement.get(0)) {
                                placement = element;
                            }
                            if (error.text() !== '') {
                                placement.after(error);
                            }
                        }
                    });
                });

            }).apply(this, [jQuery]);

    </script>

}

