@model Infraero.Relprev.CrossCutting.Models.SubAssuntoModel

@{
    ViewData["Title"] = "Cadastrar Sub Assunto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "SubAssunto", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Sub Assunto da Ocorrência</h2>

                </header>
                <div id="vSubAssunto" class="card-body" data-loading-overlay>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Assunto <span class="required">*</span></label>
                        <div class="col-lg-9">
                            <select class="form-control populate select2" name="ddlAssunto" id="ddlAssunto"
                                    title="Por favor selecione um assunto." required
                                    asp-for="CodAssunto" asp-items="Model.ListAssunto">
                                <option value="">Selecionar Assunto</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sub Assunto <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3" name="DscSubAssunto" class="form-control" 
                                      placeholder="eg.: Descrição do  sub assunto relacionado as  ocorrências"
                                      title="eg.: Descrição do  sub assunto relacionado as  ocorrências"
                                      required maxlength="50"></textarea>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "SubAssunto")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/select2/js/select2.js"></script>

    <script>
        (function ($) {

            'use strict';

            var $select = $(".select2").select2({
                allowClear: true
            });

            $(".select2").each(function () {
                var $this = $(this),
                    opts = {};

                var pluginOptions = $this.data('plugin-options');
                if (pluginOptions)
                    opts = pluginOptions;

                $this.themePluginSelect2(opts);
            });

            /*
             * When you change the value the select via select2, it triggers
             * a 'change' event, but the jquery validation plugin
             * only re-validates on 'blur'*/

            $select.on('change', function () {
                $(this).trigger('blur');
            });

            $("#form").validate({
                highlight: function (label) {
                    $(label).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (label) {
                    $(label).closest('.form-group').removeClass('has-error');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    var placement = element.closest('.input-group');
                    if (!placement.get(0)) {
                        placement = element;
                    }
                    if (error.text() !== '') {
                        placement.after(error);
                    }
                }
            });

            
        }).apply(this, [jQuery]);

    </script>
}

