@model Infraero.Relprev.CrossCutting.Models.RelatoModel
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "Relato", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Relato de Prevenção</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Unidade de infraestrutura (Infrastructure unit) <span class="required">*</span></label>
                        <div class="col-lg-9">
                            <select class="form-control populate select2" name="ddlUnidadeInfraestrutura" id="ddlUnidadeInfraestrutura"
                                    title="Por favor selecione uma unidade de infraestrutura." required
                                    asp-for="CodUnidadeInfraestrutura"
                                    asp-items="Model.ListUnidadeInfraestrutura">
                                <option value="">Selecionar Unidade de infraestrutura</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">
                            Data da ocorrência (Date of occurrence)
                            <span class="required">*</span>
                        </label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="DtOcorrencia" name="DtOcorrencia"
                                       required
                                       title="Por favor informe a data da ocorrência."
                                       style="z-index: auto;"
                                       data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                       placeholder="__/__/____" class="form-control startdate">
                            </div>
                        </div>

                        <label class="col-lg-2 control-label text-lg-right pt-2">
                            Hora da ocorrência (Time of occurrence)
                            <span class="required">*</span>
                        </label>
                        <div class="col-lg-3 pull-left">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <input id="HorOcorrencia" name="HorOcorrencia"
                                       type="text"
                                       maxlength="5"
                                       required
                                       title="Por favor informe a hora da ocorrência."
                                       placeholder="__:__"
                                       data-plugin-timepicker
                                       class="form-control"
                                       data-plugin-options='{ "showMeridian": false }'>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">
                            Local da Ocorrência (Occurrence Location)<span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3"
                                      name="DscLocalOcorrenciaRelator"
                                      class="form-control" placeholder="eg.: Nome do Local da Ocorrência do relato  "
                                      required
                                      title="Por favor informe o local da ocorrência."
                                      maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">
                            Envolvidos na ocorrência (Involved in the occurrence)<span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <textarea type="text"
                                      rows="3"
                                      name="DscEnvolvidosOcorrencia"
                                      class="form-control"
                                      placeholder="eg.: Pessoas e / ou veículos envolvidos no relato"
                                      required
                                      title="Por favor informe o(s) envolvido(s) na ocorrência."
                                      maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">
                            Descrição da ocorrência (Occurrence description) <span class="required">*</span>
                        </label>
                        <div class="col-sm-9">
                            <textarea type="text"
                                      rows="3"
                                      name="DscOcorrenciaRelator"
                                      class="form-control"
                                      placeholder="eg.: Descrição da ocorrência do relato"
                                      required
                                      title="Por favor informe uma descrição da ocorrência."
                                      maxlength="1000"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Nome do relator (Name of the rapporteur)</label>
                        <div class="col-sm-9">
                            <input type="text" name="NomRelator" class="form-control" placeholder="eg.: Nome do relator" maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-sm-right pt-2">Email </label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" name="EmailRelator" class="form-control" 
                                       placeholder="eg.: E-mail do relator" 
                                       maxlength="100"
                                       title="Por favor informe um endereço eletrônico válido do usuário"
                                       />
                            </div>
                        </div>
                        <label class="col-lg-1 control-label text-lg-right pt-2">Telefone (telephone)</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input id="NumTelefoneRelator" name="NumTelefoneRelator" placeholder="eg.: Telefone do Relator" class="form-control" maxlength="15">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Organização (Organization)</label>
                        <div class="col-sm-9">
                            <input type="text" name="NomEmpresaRelator" class="form-control" placeholder="eg.: Nome da empresa do relator" maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ListArquivo" class="col-sm-3 control-label text-sm-right pt-2">Arquivos</label>
                        <div class="col-sm-9">
                            <input multiple="" asp-for="ListArquivo" id="custom-file-input">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <table id="arquivosDatatable" class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Arquivo</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                @*<tbody>

                                    <tr>
                                        <td><label class="custom-file-label">Choose File...</label></td>
                                        <td>

                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="DeleteArquivo" asp-controller="Relato" asp-route-id="1" class="on-default remove-row" style='color: #d43f3a'><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>*@
                            </table>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-sm-right pt-2">Código (Captcha)</label>
                        <div class="g-recaptcha" data-sitekey="@(configuration["ReCaptcha:SiteKey"])"></div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2" form="form" type="submit">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "SubLocal")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/js/relato.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
}



