
@{
    ViewData["Title"] = "Evaluate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Edit", "Relato", FormMethod.Post))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Avaliar Parecer Técnico</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-sm-right pt-2">Nº do relato </label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input readonly type="text" name="email" class="form-control" value="02081984" maxlength="100" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Unidade de infraestrutura <span class="required">*</span></label>
                        <div class="col-lg-9">
                            <select data-plugin-selectTwo class="form-control populate" disabled="disabled">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Data da ocorrência <span class="required">*</span></label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly id="date" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="eg.: Data da ocorrência de prevenção" class="form-control">
                            </div>
                        </div>

                        <label class="col-lg-2 control-label text-lg-right pt-2">Hora da Ocorrência <span class="required">*</span></label>
                        <div class="col-lg-3 pull-left">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <input readonly type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' placeholder="eg.: Horário da ocorrência">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Local da Ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly type="text" name="fullname" class="form-control" placeholder="eg.: Nome do Local da Ocorrência do relato  " required maxlength="200" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <h4 class="pt-3 mb-0">Classificação</h4>

                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Local da ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly type="text" name="fullname" class="form-control" placeholder="eg.: Descrição do local da ocorrência" required maxlength="200" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sub Local de ocorrência   <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly type="text" name="fullname" class="form-control" placeholder="eg.: Descrição da ocorrência" required maxlength="200" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Assunto <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly type="text" name="fullname" class="form-control" placeholder="eg.: Descrição do assunto" required maxlength="200" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sub Assunto<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly type="text" name="fullname" class="form-control" placeholder="eg.: Descrição do sub assunto" required maxlength="200" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Envolvidos na ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea readonly type="text" rows="3" name="fullname" class="form-control" placeholder="eg.: Descrição dos envolvidos na ocorrência" required maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <table class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Descrição do parecer técnico</th>
                                        <th>Responsável técnico</th>
                                        <th>Motivo da Devolução</th>
                                        <th>Status do parecer </th>
                                        <th>Data e Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Foi finalizado levantamento</td>
                                        <td>Uriel</td>
                                        <td>Faltou material</td>
                                        <td>Devolvido</td>
                                        <td>05/12/2019 10:00</td>
                                    </tr>
                                    <tr>
                                        <td>Foi realizado sinalizaçao</td>
                                        <td>Miguel</td>
                                        <td>Faltou material</td>
                                        <td>Parecer aceito</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Foi enviado para atendimento</td>
                                        <td>Maria Flor</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <table class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Arquivo</th>
                                        <th>Data e hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>atendimento.png</td>
                                        <td>05/12/2019 10:00</td>
                                    </tr>
                                    <tr>
                                        <td>relato.png</td>
                                        <td>01/12/2019 18:00</td>
                                    </tr>
                                    <tr>
                                        <td>atendimento.png</td>
                                        <td>05/12/2019 08:00</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Situação dos Relatos<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <div class="radio-custom">
                                <input type="radio" id="radioExample1" name="radioExample" checked="">
                                <label for="radioExample1">Aceitar parecer técnico</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="radioExample2" name="radioExample">
                                <label for="radioExample2">Devolver para complemento</label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Motivo da devolução <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea readonly type="text" rows="3" name="fullname" class="form-control" placeholder="eg.: Descrição do motivo da devolução do parecer" required maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <a href="#" class="btn btn-danger pull-left mr-2">Sair &nbsp;&nbsp;<i class="fa fa-remove"></i></a>
                            @*<a href="@Url.Action("Index", "Relato")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>*@

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
<div id="modalIcon" class="modal-block modal-header-color modal-block-danger mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Exclusão</h2>
        </header>
        <div class="card-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm">Sim &nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i></button>
                    <button class="btn btn-danger modal-dismiss">Não &nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i></button>
                </div>
            </div>
        </footer>
    </section>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/empresa.js"></script>

    <script>
        // Tooltip
        (function ($) {

            'use strict';

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
        /*
Name: 			UI Elements / Modals - Examples
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version: 	2.0.0
*/

        (function ($) {

            'use strict';

            /*
            Basic
            */
            $('.modal-basic').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Sizes
            */
            $('.modal-sizes').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Modal Dismiss
            */
            $(document).on('click', '.modal-dismiss', function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

        }).apply(this, [jQuery]);
    </script>
}






